@import "./normalize.css";
:root{
    /*设置变量*/
    --color-text: #666;
    --large-size: 14px;
    --body-color:#FF7A9C;
    --el-color-primary:#FF7A9C;
}
body{
    padding: 0;
    margin: 0;
    /*font-size: var(--large-size);*/
}
